*{
    margin: 0;
    padding: 0;
}
 .cabecalho {
    background-color: #716B6B;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

}

.cabecalho-imagem{
width: 20%;
}

.site-div-conteudo{
    width: 20%;
}

.site-titulo{
    padding: 30px 0;
}

.chuteira-um{
    width: 15%;
}

.chuteira-dois{
    width: 17%;
}

.chuteira-tres{
    width: 13%;
}

.chuteira-quatro{
    width: 15%;
}

.chuteira-cinco{
    width: 17%;
}

.chuteira-seis{
    width: 8%;
}